html{
    font-family: $helvetica;
}

h1{
    font-family: $open-sans;
}

.border{
  border: 1px solid $pink;
    p{
      color: $yellow;
    }
    @media only screen and (min-width:30em){
        border-color: $light-pink;
    }
}

.primary-btn{
  @include button($yellow);
}

.secondary-btn{
  @include button($pink);
}